body {
	max-width: 800px;
	margin: auto;
    font-family: 'Muli', sans-serif;
    word-spacing:2px;
    line-height:1.5em;
    /* background-color:#c4ceff; */
}
.head {
    margin: 0px;
    font-weight: lighter;
}
#header {
    padding-top: 50px;
    display: grid;
    grid-template-columns: [firsthalf] 50% [secondhalf] 50%;
    grid-template-rows: [title] 25% [rest] auto;
}
section {
    display:grid;
    grid-template-columns: [first] 25% [rest] auto
}
#email {
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}
.left {
    grid-column-start: firsthalf;
}
.right{
    grid-column-start: secondhalf;
    grid-row-start: title;
    place-self: center;
}
a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color:purple;
    text-decoration:none;
}
h3 a {
    color: black;
    margin-right:5px
}

.icons a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color:black;
    padding: 6px;
}
a:hover{
    color:gray;
}
#banner {
    background-color: #D1E8E2;
}
#footer {
    text-align:center;
    padding-top:25px;
    padding-bottom:50px;
}
img {
    border-radius: 50%;
}


