body {
	max-width: 800px;
	margin: auto;
    font-family: 'Muli', sans-serif;
}
h3 {
    margin: 0px;
    font-weight: lighter;
}
#header {
    padding-top: 50px;
    display: grid;
    grid-template-columns: [firsthalf] 50% [secondhalf] 50%;
    grid-template-rows: [title] 25% [rest] auto;
}
#email {
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
}
.left {
    grid-column-start: firsthalf;
}
.right{
    grid-column-start: secondhalf;
    grid-row-start: title;
    place-self: center;
}
a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color:purple;
    text-decoration:none;
}
.icons a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color:black;
    padding: 6px;
}
a:hover{
    color:gray;
}
#banner {
    background-color: #D1E8E2;
}
img {
    border-radius: 50%;
}


