<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kevin.jihwan.lee@gmail.com" class="fa fa-envelope fa-2x"></i></li>
	        		<li><a href="https://github.com/kevinjihwanlee" class="fa fa-github-square fa-2x"></i></li>
	        		<li><a href="https://www.linkedin.com/in/kevin-jihwan-lee/" class="fa fa-linkedin-square fa-2x"></i></li>
				</ul>
			</footer>
		</body>
	</html>
