<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kevin.jihwan.lee@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kevinjihwanlee">github.com/kevinjihwanlee</a></li>
	        		<li><i class="fa fa-camera-retro"></i> fa-camera-retro</li>
				</ul>
			</footer>
		</body>
	</html>
